body
{
    background-color: lightcoral;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
	background-color: #333;
	position: relative;
	left: 0px;
	right:500px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: #111;
}
