<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Saivarun</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="/guestbook.css" type="text/css">

</head>
<body >
        <div>
                <ul class="a1">
                    <li><a>Average Temperature</a></li>
                    <li><a href="Illendula_Saivarun">Home</a></li>
                    <li><a href="Illendula_Saivarun1">Temperature</a></li>
                    <li><a href="Illendula_Saivarun2">Contact</a></li>
                    <li><a href="index">Guestbook</a></li>
                </ul>
                </div>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
